<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User_Info</title>
</head>
<body>
<div style="height: 48px;background-color: black;color: white">
    User_info
</div>
<div>
    <div style="position: absolute;top:48px;bottom: 0;left: 0;width: 200px;background-color: brown;">
        <a class="menu" href="/user_info/">用户管理</a>
        <a class="menu" href="/user_group/">用户组管理</a>
    </div>
    <div style="position:absolute;top:48px;left: 210px;bottom: 0;right: 0;overflow: auto">

        <h3>添加用户</h3>
        <form method="POST" action="/user_info/">
            <input type="text" name="user"/>
            <input type="text" name="pwd"/>
            <select name="group_id">
                {% for row in group_list %}
                    <option value="{{ row.uid }}">{{ row.caption }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="添加"/>
        </form>

        <h3>用户列表</h3>
        <ul>
            {% for row in user_list %}
                <li>
                    <a href="/userdetail-{{ row.id }}/">{{ row.username }}</a>
                    <span>{{ row.user_group.caption }}</span>
                    <a href="/userdel-{{ row.id }}/">删除</a> |
                    <a href="/useredit-{{ row.id }}/">编辑</a>
                </li>
            {% endfor %}
        </ul>


    </div>
</body>
</html>